<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Available Results</h4><hr>
        <dl>  
          <dt>Title</dt>
          <dd><%= result.name %></dd>
        </dl>
      <hr>
    </div>
  </div>
</div>